<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found Page</title>
    <link rel="stylesheet" th:href="@{/css/style404.css}">
</head>
<body>
    <h2 class="title">No hemos encontrado tus datos.</h2>
    <main class="main">
        <img class="main__imag" th:src="@{/img/16.svg}" alt="404 image">
        <article class="main__info">
            <h1 class="main__title">Tenemos malas noticias para ti</h1>
            <p class="main__descript">
                Parece que no estás registrado en nuestra base de datos.
            </p>
            <div class="main__contrn">
                <a class="main__btn" th:href="@{regForm}">Regístrate</a>
                <a class="main__btn" th:href="@{votapp}">Ir a inicio</a>
            </div>
        </article>
    </main>
</body>
</html>