<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Votapp</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<section class="home">
		<img th:src="@{/img/COflag.jpg}" alt="Colombian flag">
		<h1>Elecciones Presidenciales<br> De Colombia 2022</h1>
	</section>
	<nav class="links">
		<ul>
			<l1><a class="menu" th:href="@{regForm}">Registrarse</a></l1>
			<l1><a class="menu" th:href="@{votar}">Votar</a></l1>
			<l1><a class="menu" th:href="@{result}">Ver resultados</a></l1>
		</ul>
	</nav>
	<section class="consultar">
		<form th:action="@{/consultar/}" id="idSent" class="consultar__form">
			<label for="identi" class="consultar__label">Consultar datos</label>
			<input type="number" id="id" placeholder="CC" required class="consultar__cc">
			<input type="submit" value="Consultar" class="consultar__btn">
	</form>
	</section>
	<section class="candidatos">
		<h1>Candidatos</h1>
		<article class="card">
			<div class="imgContr">
				<h3>Gustavo Petro</h3>
				<img src="https://pbs.twimg.com/profile_images/962471262747529216/Uo8lOkRJ.jpg" alt="Candidato 1" />
			</div>
			<p align="justify">Gustavo Francisco Petro Urrego (Ciénaga de Oro, Córdoba, 19 de abril de 1960) es un
				político y economista colombiano de ascendencia italiana, actual Senador de la República para el periodo
				legislativo 2018-2022, líder fundador del movimiento político Colombia Humana. Fue candidato para la
				presidencia de Colombia en 2010 y 2018. Actualmente es candidato presidencial para las elecciones de
				2022. En 2020 la Corte Interamericana de Derechos Humanos emitió un fallo en contra del Estado
				Colombiano por haber destituido y obstruido la alcaldía de Bogotá de Petro en el año 2013. Desde
				temprana edad vivió en Zipaquirá, Cundinamarca y en esta ciudad ocuparía diversos cargos públicos. En su
				juventud fue parte de la organización guerrillera insurgente colombiana Movimiento 19 de abril, quiénes
				se desmovilizaron el 8 de marzo de 1990. Fue Senador de la República por el Polo Democrático Alternativo
				(PDA), cargo al que accedió en las elecciones de 2006. En 2009 renunció a su cargo para aspirar a la
				Presidencia de Colombia en las elecciones de 2010 en representación del mismo partido. Fue alcalde de
				Bogotá entre 2012 y 2015.</p>
		</article>

		<article class="card left">
			<div class="imgContr">
				<h3>Oscar Iván Zuluaga</h3>
				<img src="https://d2yoo3qu6vrk5d.cloudfront.net/images/20210812115120/oscar-420x278.webp"
					alt="Candidato 2" />
			</div>
			<p align="justify">Óscar Iván Zuluaga Escobar (Pensilvania; Colombia, 3 de febrero de 1959), es un
				economista, empresario y político colombiano. Se desempeñó como Ministro de Hacienda en el segundo
				período de gobierno de Álvaro Uribe Vélez (2006 - 2010) hasta el fin de este el 7 de agosto de 2010.
				También ha sido sido concejal (1988-1990) y alcalde (1990-1992) de su municipio, Pensilvania, en Caldas,
				dirigente empresarial, gremial y Senador de la República en periodo 2002-2006. Como Senador fue
				cofundador del Partido de la U. En 2014 fue candidato a la Presidencia de la República de Colombia por
				el Partido Centro Democrático, ganando el primer lugar en la primera vuelta, pero perdió en el balotaje
				frente a Juan Manuel Santos en la segunda vuelta.</p>
		</article>

		<article class="card">
			<div class="imgContr">
				<h3>Rodolfo Hernández</h3>
				<img src="https://colombiacheck.s3.us-east-2.amazonaws.com/colcheck/s3fs-public/2019-05/Perfil%20Roodolfo%20Hern%C3%A1ndez.jpg?VHsnVz0MUU9W35Kos.QGOw9uhirq3VRJ"
					alt="Candidato 3" />
			</div>
			<p align="justify">Rodolfo Hernández Suárez (Piedecuesta, 26 de marzo de 1945) es un empresario, ingeniero
				civil y político colombiano. Fue el alcalde de Bucaramanga desde 2016 hasta su suspensión y posterior
				renuncia en 2019. En junio de 2021 inscribió su candidatura a la Presidencia de Colombia para las
				elecciones de 2022.
				Nació el 26 de marzo de 1945 en Piedecuesta, pero desde su niñez se radicó en Bucaramanga. Es un
				empresario que posee cierta influencia económica en Santander.Estudió Ingeniería Civil en la Universidad
				Nacional de Colombia en 1970. En 1971 desarrolla obras como ingeniero civil en proyectos de vivienda
				local.</p>
		</article>

		<article class="card left">
			<div class="imgContr">
				<h3>Sergio Fajardo</h3>
				<img src="https://www.ecosdelcombeima.com/sites/default/files/sergio-fajardo-invamer-encuesta-septiembre-e1506720936475-1.png"
					alt="Candidato 4" />
			</div>
			<p align="justify">Sergio Fajardo Valderrama (Medellín, 19 de junio de 1956) es un político colombiano.
				Exalcalde de Medellín y exgobernador de Antioquia. Fue fórmula vicepresidencial de Antanas Mockus en las
				elecciones presidenciales de 2010. Fue candidato a la presidencia de Colombia para el período 2018 -
				2022.</p>
		</article>
	</section>
	<script th:src="@{/JS/consult.js}"></script>
</body>

</html>